#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Layout general */
html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Links: que no hereden el azul violeta de Vite */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Tipografías */
h1 {
  margin: 0 0 1rem 0;
  font-size: 2.2rem; /* más realista para web */
  line-height: 1.2;
}

button {
  font-family: inherit;
}
