#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}


html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


h1 {
  margin: 0 0 1rem 0;
  font-size: 2.2rem; 
  line-height: 1.2;
}

button {
  font-family: inherit;
}
